/*------------------------------------------------------------------*\
  MODULES, Object, Containers for dimensions, magins and positions.
\*------------------------------------------------------------------*/ 
.relative { position: relative; }

.full-w-h {
  width: $total;
  height: $total;
}

.contact-image {
  width: $total;
  margin-top: 25px;
}

.title-mrgn { margin-bottom: 35px; }

.margin-gnrl-01 { margin: $fifteen; }

.margin-bttm-01 { margin-bottom: 25px; }

.margin-bttm-02 { margin-bottom: 50px; }

.margin-bttm-03 { margin-bottom: 0; }

.padding-gnrl-01 { padding: $fifteen; }

.padding-gnrl-01 { padding: $fifteen; }

.padding-gnrl-02 { padding: 11px; }

.padding-tp-01 { padding-top: 20px; }

.padding-tp-02 { padding-top: $fifteen; }

.padding-bttm-00 { padding-bottom: 0; }

.position-tp-01 { top: -80px; }

.plays_images { max-width: $total; }

ul.banner-social-buttons { margin-top: 0; }

.content-section { padding: 150px 0; }

/*---------------------------------------------------------------*\
  SKINS, Styles, Attributes for fonts, colors ans backgrounds.
\*---------------------------------------------------------------*/ 

.sans-serif-font { font-family: $font-family-sans-serif; }

.white-font { color: white; }

.blck-font { color: black; }

.title-skin {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.font-details-01 {
  font-size: $fifteen;
  line-height: 1.5;
}

.font-details-02 { letter-spacing: .08em; }

.masthead .intro-body .brand-heading { font-size: 50px; }

.masthead .intro-body .intro-text { font-size: 18px; }

.font-italic { font-style: italic; }

.navbar-brand { font-weight: 700; }

.mainNav {
  text-transform: uppercase;
  border-bottom: $border-bottom $color-border;
}

.download-section {
  background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.directed_by { text-align: right; }

.plays-description {
  font-size: 12px;
  text-align: left;
}

.btn {
  font-weight: 400;
  -webkit-transition: $transition3;
  -moz-transition: $transition3;
  transition: $transition3;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: $aquamarineColor;
  border: 1px solid $aquamarineColor;
  background-color: $invisible;
}

.navbar-toggler {
  font-size: $fifteen;
  border: 1px solid white;
}

.backgrd-01 { background-color: black; }

.backgrd-02 { background-color: antiquewhite; }

.border-style-01 { border-radius: 5px; }

.border-style-02 { border: solid 1px white; }

.rotate-image { transform: rotate(-35deg); }

.navbar-nav .nav-item {
  -webkit-transition: $transition3-bckg;
  -moz-transition: $transition3-bckg;
  transition: $transition3-bckg;
}

/*---------*\
  ELEMENTS
\*---------*/ 

a {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
  color: $aquamarineColor;
}

blockquote { 
  font-size: 20px;
}

footer { padding: 50px 0; }

footer p { margin: 0; font-size: 14px; }

/*---------------------------------------------------------------*\
  OBJECTS: SELECTORS AND @MEDIA
\*---------------------------------------------------------------*/ 

/*----SELECTORS----*/

a:focus,
a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

.navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: $invisible;
}

.mainNav .navbar-nav .nav-item:active,
.mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: $invisible;
}

.btn-default:focus,
.btn-default:hover {
  color: black;
  outline: none;
  background-color: $aquamarineColor;
  border: 1px solid $aquamarineColor;
}

.btn-circle:focus,
.btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection { background: $invisible; }

img::-moz-selection { background: $invisible; }

/*----@MEDIA------*/

@media (min-width: 768px) {
  p {
    margin-bottom:35px;
    font-size: 18px;
    line-height: 1.6;
  }
}

@media (min-width: 992px) {
  .mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: $transition-bckg;
    -moz-transition: $transition-bckg;
    transition: $transition-bckg;
    letter-spacing: 1px;
    background: $invisible;
    border-bottom: none;
  }
  .mainNav .navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background: black;
    border-bottom: $border-bottom $color-border;

  }
    
  .mainNav .nav-link.active {
    outline: none;
    background-color: $color-border;
  }
  .mainNav .nav-link.active:hover {
    color: white;
  }
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  #map { height: 350px; }
}

@media (min-width: 768px) {
  .masthead {
    height: $total;
    padding: 0;
  }
  .masthead .intro-body .brand-heading { font-size: 100px; }
  .masthead .intro-body .intro-text { font-size: 22px; }
}

@media (max-width: 1199px) {
  ul.banner-social-buttons { margin-top: 15px; }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
  }
  ul.banner-social-buttons li:last-child { margin-bottom: 0; }
}